:root {
  --accent: #FFB3D5;
  --background: #8D37A1;
  --color: rgb(255, 255, 255);
  --color-80: rgba(255, 255, 255, .8);
  --color-30: rgba(255, 255, 255, .3);
  --color-10: rgba(255, 255, 255, .1);
}
